/* Importar la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos globales */

:root {
	--color-1: #26252d;
	--color-2: #0175b2;
	--color-3: #84838b;
	--color-4: #fff;
	--color-5: #26252d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #c4c4c4;
	font-size: 14px;
	line-height: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 800px;

	margin: auto;
}

.header .logo,
.header .nav {
	padding: 0 15px;
}

/* Estilos para el cuerpo del documento */

.row {
	display: flex;
	flex-wrap: wrap;

}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: space-between;
}

/* header */
.header {
	background-color: var(--color-1);
	padding: 12px 0;
	line-height: 1.5;
}

.header .nav,
.header .nav {
	padding: 0 15px;
}

.header .logo a {
	font-size: 30px;
	color: #fff;

}

.header .nav ul li {
	display: inline-block;
	margin-left: 40px;
}

.header .nav ul li a {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 10px 0;
	transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
	color: var(--color-2);
}

.nav-toggler {
	height: 34px;
	width: 44px;
	background-color: var(--color-4);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	display: none;
	margin-right: 15px;
}

.nav-toggler:focus {
	outline: none;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.nav-toggler span {
	height: 2px;
	width: 20px;
	background-color: var(--color-1);
	display: block;
	margin: auto;
	position: relative;
	transition: all 0.3s ease;
}

.nav-toggler.active span {
	background-color: transparent;
}

.nav-toggler span::before,
.nav-toggler span::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}

.nav-toggler span::before {
	transform: translateY(-6px);
}

.nav-toggler.active span::before {
	transform: rotate(45deg);
}

.nav-toggler span::after {
	transform: translateY(6px);
}

.nav-toggler.active span::after {
	transform: rotate(135deg);
}

/* Estilos para la barra de navegación */




/* Estilos para el pie de página */
footer {
	text-align: center;
	background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(2, 0, 36, 1) 35%, rgba(1, 117, 178, 1) 100%);
	color: var(--color-4);
	width: 800px;
	height: 60px;
	display: block;
	align-items: center;
	margin: 0px auto;
	padding-top: 10px;
}

/* Estilos para el contenedor principal */
.container-resume {
	display: flex;
	width: 800px;
	margin: 0px auto;
	background: var(--color-4);
	padding: 10px;
}

/* Estilos para la columna izquierda del currículum */
.container-resume .resume_left {
	width: 35%;
	background: var(--color-5);
}

/* Estilos para la imagen del currículum */
.container-resume .resume_left .resume_image {
	width: 100%;
}

/* Estilos de la pagina principal */
.container-resume .resume_left .resume_image img {
	width: 100%;
	display: block;
}


.container-resume .resume_title {
	color: var(--color-4);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
	letter-spacing: 4px;
}


.container-resume .resume_left .resume_info {
	color: var(--color-3);
}


.container-resume .resume_left .resume_bottom {
	padding: 20px 30px;
}


.container-resume .resume_item {
	padding: 20px 0;
	border-bottom: 1px solid var(--color-2);
}


.container-resume .resume_item:last-child {
	border-bottom: 0;
}


.container-resume .resume_left .resume_namerole {
	display: none;
}

/* Estilos para el nombre en la columna izquierda del currículum */
.container-resume .resume_left .resume_namerole .name {
	font-size: 20px;
	color: var(--color-4);
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
	letter-spacing: 4px;
}


.container-resume .resume_left .resume_namerole .role {
	color: var(--color-3);
}


.container-resume .resume_left .resume_contact .resume_info:last-child {
	margin-top: 10px;
}


.container-resume .resume_left .resume_contact .resume_subtitle {
	color: var(--color-4);
	margin-bottom: 2px;
}


.container-resume .resume_left .resume_skills .skills_list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}


.container-resume .resume_left .resume_skills .skills_list .skills_bar p {
	position: relative;
	width: 125px;
	height: 20px;
	background: var(--color-4);
}


.container-resume .resume_left .resume_skills .skills_list .skills_bar p span {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--color-2);
	width: 100%;
	height: 100%;
}


.container-resume .resume_right {
	width: 65%;
	padding: 20px 40px;
	color: var(--color-1);
}


.container-resume .resume_right .resume_namerole .name {
	color: var(--color-1);
	font-size: 24px;
}


.container-resume .resume_right .resume_namerole .role {
	font-size: 14px;
	text-transform: uppercase;
}


.container-resume .resume_right .resume_item .resume_title {
	color: var(--color-1);
}


.container-resume .resume_right .resume_data {
	display: flex;
}


.container-resume .resume_right .resume_data .year {
	padding-right: 35px;
	width: 115px;
	position: relative;
}


.container-resume .resume_right .resume_data .content {
	padding-left: 35px;
	margin-bottom: 20px;
	width: calc(100% - 115px);
}

.container-resume .resume_right .resume_data .content :first-child {
	color: var(--color-2);
	font: bold;
	font-size: 16px;
}

.container-resume .resume_right .resume_data .year:before {
	content: "";
	position: absolute;
	top: 5px;
	right: 0;
	width: 10px;
	height: 10px;
	background: var(--color-4);
	border: 1px solid var(--color-1);
	border-radius: 50%;
}

.container-resume .resume_right .resume_data .year:after {
	content: "";
	position: absolute;
	top: 17px;
	right: 4px;
	width: 3px;
	height: 90%;
	background: var(--color-2);
}

.container-resume .resume_right .resume_data:last-child .year:after {
	display: none;
}

.container-resume .resume_right .resume_interests .resume_info {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.container-resume .resume_right .resume_interests .interests .int_icon {
	font-size: 38px;
	color: var(--color-2);
	margin-bottom: 10px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 800px) {


	.header .nav {
		width: 100%;
		padding: 0;
		max-height: 0px;
		overflow: hidden;
		visibility: hidden;
		transition: all 0.5s ease;
		
	}

	.header .nav.open {
		visibility: visible;
	}

	.header .nav ul {
		padding: 12px 15px 0;
		margin-top: 12px;
		border-top: 1px solid rgba(155, 255, 255, 0.2);

	}

	.header .nav ul li {
		display: block;
		margin: 0;
	}

	.nav-toggler {
		display: block;
	}

	footer {
		width: auto;
	}



	.container-resume .resume_right .resume_namerole {
		display: none;
	}

	.container-resume .resume_left .resume_namerole {
		display: block;
	}

	.container-resume {
		width: 95%;
		margin: 10px auto;
		flex-direction: column;
	}

	.container-resume .resume_left,
	.container-resume .resume_right {
		width: 100%;
	}


}

/* Estilos adicionales para dispositivos móviles con pantalla pequeña */
@media screen and (max-width: 424px) {
	.container-resume .resume_right {
		padding: 20px 30px;
	}

	.container-resume .resume_right .resume_data {
		flex-direction: column;
	}

	.container-resume .resume_right .resume_data .year {
		padding: 0;
		margin-bottom: 5px;
		width: 100%;
		color: var(--color-2);
	}

	.container-resume .resume_right .resume_data .year:before,
	.container-resume .resume_right .resume_data .year:after {
		display: none;
	}

	.container-resume .resume_right .resume_data .content {
		width: 100%;
		padding: 0;
	}

	.container-resume .resume_right .resume_interests .interests .int_icon {
		font-size: 24px;
	}
}